.wp-block-dmg-read-more {
	color: #fff;
	padding: 4px 6px;
	a {
		font-weight: bold;
		cursor: pointer;
	}
}

.selectablePost {
	cursor: pointer;
	padding: 2px;
	&:hover {
		text-decoration: underline;
	}
}
